<!-- PROJECTS LIST ITEMS -->
<div class="projects-items" ng-sortable="vm.sortableOptions" ng-model="vm.tasks" ng-class="{'sortable': vm.taskOrder === ''}">
  <div class="projects-item" md-ink-ripple layout="row" layout-align="start center" ng-click="vm.openProjectDialog($event, myproject)" ng-repeat="myproject in vm.myprojects " ng-class="{'starred': task.starred, 'selected': task.selected, 'completed': task.completed}">
    <!--| orderBy:vm.taskOrder:vm.taskOrderDescending | filter:global.search | filter:vm.taskFilters.search-->
    <div class="handle" ng-click="vm.preventDefault($event)">
      <md-icon md-font-icon="icon-drag-vertical" class="icon"></md-icon>
    </div>

    <!--  <md-checkbox class="no-label" ng-checked="task.completed"
                     ng-click="vm.toggleCompleted(task, $event)"
                     aria-label="{{task.completed ? 'Not completed' : 'Completed'}}">
        </md-checkbox>-->

    <div layout="row" layout-align="start center" flex>

      <div class="info" flex>
        <div class="title">
          {{myproject.name}}
        </div>

        <div class="notes">
            Identifier: {{myproject.identifier}}
        </div>

        <div class="notes">
           Description: {{(myproject.description.length>150) ? (myproject.description.substring(0, 147) + '...') : myproject.description}}
        </div>


        <div class="tags" layout="row" layout-align="start center" layout-wrap>
          <div class="tag" layout="row" layout-align="start center" data-ng-repeat="tag in task.tags">
            <div class="tag-color" ng-style="{'background-color': tag.color}"></div>
            <div class="tag-label">{{tag.label}}</div>
          </div>
        </div>
      </div>

      <div class="buttons" layout="row" layout-align="start center">

      </div>
    </div>
  </div>
</div>
<!-- / PROJECTS LIST ITEMS -->
