<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="space-between">

  <div class="logo" layout="row" layout-align="start center">
    <span class="logo-icon">
            <md-icon md-font-icon="icon-clipboard" class="s24"></md-icon>
        </span>
    <span class="logo-text" translate="ADDITIONALS.TO_DO">Additionals</span>
  </div>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->

<!-- / SIDENAV CONTENT -->
