<!-- TA_SKS LIST ITEMS -->
<div class="ta_sks-items" ng-sortable="vm.sortableOptions" ng-model="vm.tasks" ng-class="{'sortable': vm.taskOrder === ''}">
    <div ng-if="!vm.mytasks.length" layout="column" layout-align="center center">
        <md-progress-circular md-diameter="200" md-mode="indeterminate"></md-progress-circular>
    </div>
  <div class="ta_sks-item" md-ink-ripple layout="row" layout-align="start center" ng-click="vm.openTa_skDialog($event, myta_sk)" ng-repeat="myta_sk in vm.mytasks " ng-class="{'starred': task.starred, 'selected': task.selected, 'completed': task.completed}" style={{vm.getStyle(myta_sk.userid)}}>
    <!--| orderBy:vm.taskOrder:vm.taskOrderDescending | filter:global.search | filter:vm.taskFilters.search-->
    <div class="handle" ng-click="vm.preventDefault($event)">
      <md-icon md-font-icon="icon-drag-vertical" class="icon"></md-icon>
    </div>

    <!--  <md-checkbox class="no-label" ng-checked="task.completed"
                     ng-click="vm.toggleCompleted(task, $event)"
                     aria-label="{{task.completed ? 'Not completed' : 'Completed'}}">
        </md-checkbox>-->

    <div layout="row" layout-align="start center" flex>

      <div class="info" flex>
          <div layout="row" layout-align="space-between center">
              <div class="title">
                  {{myta_sk.subject}}
              </div>
              <div layout="column">
                  <span>Start Date: {{vm.showDate(myta_sk.startDate)}}</span>
                  <span>Due Date: {{vm.showDate(myta_sk.dueDate)}}</span>
              </div>

          </div>

        <div class="notes">
          Feature: {{myta_sk.featurename}}
        </div>

        <div class="notes">
          Description: {{(myta_sk.description.length>150) ? (myta_sk.description.substring(0, 147) + '...') : myta_sk.description}}
        </div>

        <div class="notes" layout="row"  layout-align="space-between center">
          <span>Status: {{myta_sk.status}}</span>
          <span>Priority: {{myta_sk.priority}}</span>
          <span>Tracker: {{myta_sk.tracker}}</span>
          <span>User: {{myta_sk.username}}</span>
          <span>Estimated Hours: {{myta_sk.estimatedHours}}</span>
        </div>

        <div class="notes" layout="row" layout-align="space-between start">
          <!--Categories: {{myta_sk.category}}-->
          <span>Categories: {{vm.showCategories(myta_sk.category)}}</span>
        </div>
        <div>
                <md-progress-linear md-mode="determinate" value="{{myta_sk.doneRatio}}"></md-progress-linear>
        </div>






        <div class="tags" layout="row" layout-align="start center" layout-wrap>
          <div class="tag" layout="row" layout-align="start center" data-ng-repeat="tag in task.tags">
            <div class="tag-color" ng-style="{'background-color': tag.color}"></div>
            <div class="tag-label">{{tag.label}}</div>
          </div>
        </div>
      </div>

      <div class="buttons" layout="row" layout-align="start center">

      </div>
    </div>
  </div>
</div>
<!-- / TA_SKS LIST ITEMS -->
