<md-dialog class="task-dialog" aria-label="New Task">
  <form name="taskForm" class="md-inline-form" novalidate>
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title" >{{vm.checkRole.isAdmin() ? vm.title : ''}}</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()">
          <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>
      <div class="tags">
        <label translate="PROJECTS.TITLE" aria-label="Name of project">Name of project</label>
        <md-input-container class="md-block">
          <input ng-if="vm.checkRole.isAdmin()" name="title" ng-model="vm.task.name" aria-label="Title" required>
          <content ng-if="!vm.checkRole.isAdmin()">{{vm.task.identifier}}</content>
          <div ng-messages="taskForm.title.$error" ng-show="taskForm.title.$touched" role="alert">
            <div ng-message="required">
              <span>Title field is required</span>
            </div>
          </div>
        </md-input-container>
      </div>

      <div class="tags">
        <label>Identifier</label>
        <md-input-container class="md-block">
          <input ng-if="vm.checkRole.isAdmin()" name="Identifier" ng-model="vm.task.identifier" aria-label="Identifier" required>
          <content ng-if="!vm.checkRole.isAdmin()">{{vm.task.identifier}}</content>
          <div ng-messages="taskForm.Identifier.$error" ng-show="taskForm.Identifier.$touched" role="alert">
            <div ng-message="required">
              <span>This field is required</span>
            </div>
          </div>
        </md-input-container>
      </div>

      <div class="tags">
        <label>Description</label>
        <md-input-container class="md-block">
          <textarea ng-if="vm.checkRole.isAdmin()" name="Description" ng-model="vm.task.description" aria-label="Description" style="resize: none" required></textarea>
          <md-content ng-if="!vm.checkRole.isAdmin()">{{vm.task.description}}</md-content>
          <div ng-messages="taskForm.Description.$error" ng-show="taskForm.Description.$touched" role="alert">
            <div ng-message="required">
              <span>This field is required</span>
            </div>
          </div>
        </md-input-container>
      </div>

      <md-dialog-actions layout="row" layout-align="space-between center" ng-if="vm.checkRole.isAdmin()">
        <div layout="row" layout-align="start center">
          <md-button type="submit" ng-if="!vm.newTask" ng-click="vm.saveTask()" class="send-button md-accent md-raised" ng-disabled="taskForm.$invalid || taskForm.$pristine" aria-label="SAVE" translate="PROJECTS.SAVE" translate-attr-aria-label="PROJECTS.SAVE">
            SAVE
          </md-button>

          <md-button type="submit" ng-if="vm.newTask" ng-click="vm.addNewTask()" class="send-button md-accent md-raised" ng-disabled="taskForm.$invalid || taskForm.$pristine" aria-label="Add Task" translate="PROJECTS.ADD_TASK" translate-attr-aria-label="PROJECTS.ADD_TASK">
            ADD TASK
          </md-button>

          <div layout="row" ng-if="vm.title==='Edit Project'">
            <md-button ng-disabled="!vm.checkRole.isAdmin()" class="md-icon-button" ng-click="vm.deleteTask($event)" aria-label="Delete" translate translate-attr-aria-label="PROJECTS.DELETE">
              <md-icon md-font-icon="icon-delete"></md-icon>
              <md-tooltip><span translate="PROJECTS.DELETE">DELETE</span></md-tooltip>
            </md-button>
          </div>
      </md-dialog-actions>
  </form>
</md-dialog>
