<!-- ADDITIONALS LIST ITEMS -->

<div class="additionals-items" ng-sortable="vm.sortableOptions" ng-model="vm.tasks" ng-class="{'sortable': vm.taskOrder === ''}">

  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab ng-repeat="additional in vm.additionals" label="{{additional.frontlabel}}" layout-align="center center" md-on-deselect="vm.clearOutFocus()">
      <md-list>
        <md-list-item class="md-list-item-text" layout="row" layout-align="center center" ng-repeat="data in additional.data">
          <div style="min-width: 50px;">
            <md-divider></md-divider>
          </div>
          <div style="min-width: 150px; min-height: 50px;">
              <div ng-if="!data.isEditing">
            <h1>{{data.label}}</h1>
            <h3>Amount: {{data.amount}}</h3>
            </div>
            <div ng-if="data.isEditing">
                <md-input-container style="max-width: 150px; position: relative; top: 10px;">
                  <label> EDITING {{data.label}} </label>
                  <input name="Editing" type="text" ng-model="data.newLabel" aria-label="xD" />
                </md-input-container>
            </div>
          </div>
          <div style="min-width: 150px;" layout="row">
              <div layout="column">

            <md-button class="md-raised md-accent" ng-click="vm.newGoToEdit(data);" ng-if="!data.isEditing">
              EDIT
            </md-button>
            <md-button class="md-raised md-accent" ng-click="vm.newMakeEdit(data, additional)" ng-disabled="data.newLabel===data.label" ng-if="data.isEditing">
              EDIT
            </md-button>
            <md-button class="md-raised" ng-click="vm.cancelEdit(data)" ng-if="data.isEditing">
                CANCEL
            </md-button>
        </div>
        <div layout="column" layout-align="center center">
            <md-button class="md-raised md-warn" ng-disabled="data.amount!=0" ng-click="vm.deleteOption(data.idx, data.label)">
              DELETE
            </md-button>
        </div>
          </div>
          <div>
            <p ng-if="data.amount!=0" style="color: darkred">CANNOT DELETE
              <br /> OPTION IS ALREADY CONNECTED</p>
          </div>
        </md-list-item>

        <md-list-item class="md-list-item-text" layout="row" layout-align="center center">
          <div layout="row">
            <div style="min-width: 50px;">
              <md-divider></md-divider>
            </div>
            <div layout="column">
              <div style="min-height: 50px;">
                <md-input-container style="max-width: 150px; position: relative; top: 10px;">
                  <label>
                    ADDING {{additional.label.toUpperCase()}}
                  </label>
                  <input name="Adding" type="text" ng-model="vm.addingLabel" aria-label="xD" />
                </md-input-container>
                <md-button class="md-raised md-accent" ng-disabled="vm.addingLabel===''" ng-click="vm.createOption(additional.type, additional.label, vm.addingLabel)">ADD</md-button>
                <md-button class="md-raised" ng-if="vm.addingLabel!==''" ng-click="vm.addingLabel=''">
                    CANCEL
                </md-button>
              </div>
            </div>
          </div>
        </md-list-item>
      </md-list>
    </md-tab>
    <md-tab label="USERS">
      <md-list-item class="md-list-item-text" layout="row" layout-align="center center" ng-repeat="user in vm.userList">
        <div style="min-width: 50px;">
          <md-divider></md-divider>
        </div>
        <div style="min-width: 350px; min-height: 50px;">
          <h1>{{user.name}}</h1>
          <h3>Email: {{user.email}}</h3>
        </div>
        <div style="min-width: 150px;" layout="row">
          <div ng-repeat="level in vm.lvlArray" style="min-width: 100px;" layout="column" layout-align="start start">
            <div style="min-height: 25px;">
              <h3>{{level}}</h3>
            </div>
            <div style="min-height: 25px;">
                <!-- <md-checkbox ng-checked="user.lvl.indexOf(level)!==-1" aria-label="user-checkBox" ng-click="vm.changeLevel(user, level)"></md-checkbox> -->
                <cool-user-checkbox user="user" level="level"></cool-user-checkbox>
            </div>
          </div>
        </div>
      </md-list-item>
    </md-tab>
  </md-tabs>
</div>
<!-- / ADDITIONALS LIST ITEMS -->
