<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="space-between">

  <div class="logo" layout="row" layout-align="start center">
    <span class="logo-icon">
            <md-icon md-font-icon="icon-clipboard" class="s24"></md-icon>
        </span>
    <span class="logo-text" translate="PROJECTS.TO_DO">Projects</span>
  </div>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content class="content" flex ms-scroll >
  <div class="add-task-button">
    <md-button class="md-accent md-raised" ng-disabled="!vm.checkRole.isAdmin()" ng-click="vm.openProjectDialog($event)" aria-label="ADD TASK" translate="PROJECTS.ADD_TASK" translate-attr-aria-label="PROJECTS.ADD_TASK">
      ADD PROJECT
    </md-button>
  </div>
</md-content>
<!-- / SIDENAV CONTENT -->
