<md-dialog class="task-dialog" aria-label="New Task">
  <form name="taskForm" class="md-inline-form" novalidate>
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">{{vm.title}}</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()">
          <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content ms-scroll>
      <div class="tags">
        <label>Subject</label>
        <md-input-container class="md-block">
          <md-content ng-if="!vm.ifEditable()">{{vm.task.subject}}</md-content>
          <input name="Subject" ng-model="vm.task.subject" aria-label="Subject" ng-if="vm.ifEditable()" required>
          <div ng-messages="taskForm.Subject.$error" ng-show="taskForm.Subject.$touched" role="alert">
            <div ng-message="required">
              <span>This field is required</span>
            </div>
          </div>
        </md-input-container>
      </div>
      <div class="tags">
        <label>Description</label>
        <md-input-container class="md-block">
          <md-content ng-if="!vm.ifEditable()">{{vm.task.description}}</md-content>
          <textarea name="Description" ng-model="vm.task.description" aria-label="Description" ng-if="vm.ifEditable()" required></textarea>
          <div ng-messages="taskForm.Description.$error" ng-show="taskForm.Description.$touched" role="alert">
            <div ng-message="required">
              <span>This field is required</span>
            </div>
          </div>
        </md-input-container>
      </div>
      <!--layout="row"-->
      <div layout-gt-sm="row" class="tags" layout-align="space-around start" layout-margin flex>
        <div class="tags" layout="column" layout-align="start center">
          <label>Status</label>
          <md-input-container>
            <md-content ng-if="!vm.ifEditable()" >{{vm.task.status}}</md-content>
            <md-select name="Status" ng-model="vm.task.status" ng-required="!vm.task.status" style="min-width: 150px;" aria-label="Status" ng-if="vm.ifEditable()">
              <md-option ng-repeat="status in vm.optionslist.status" ng-value="status">{{status}}</md-option>
            </md-select>
            <div ng-messages="taskForm.Status.$error" ng-show="taskForm.Status.$touched" role="alert">
              <div ng-message="required">
                <span>This field is required</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout="column" layout-align="start center" class="tags">
          <label>Priority</label>
          <md-input-container>
            <md-content ng-if="!vm.ifEditable()">{{vm.task.priority}}</md-content>
            <md-select name="Priority" ng-model="vm.task.priority" aria-label="Priority" style="min-width: 150px;" ng-required="!vm.task.priority" ng-if="vm.ifEditable();">
              <md-option ng-repeat="option in vm.optionslist.priority" ng-value="option">{{option}}</md-option>
            </md-select>
            <div ng-messages="taskForm.Priority.$error" ng-show="taskForm.Priority.$touched" role="alert">
              <div ng-message="required">
                <span>This field is required</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout="column" layout-align="start center" class="tags">
          <label>Estimated hours</label>
          <md-input-container>
            <input type="number" ng-model="vm.task.estimatedHours" style="min-width: 100px;" aria-label="estimatedHours" name="estimatedHours" ng-required="!vm.task.estimatedHours">
          <div ng-messages="taskForm.estimatedHours.$error" ng-show="taskForm.estimatedHours.$touched" role="alert">
            <div ng-message="required">
              <span>This field is required</span>
            </div>
          </div>
          <div ng-messages="taskForm.estimatedHours.$error" ng-if="vm.task.estimatedHours<0" role="alert">
              <span style="font-size: small">Can't be below 0</span>
          </div>
      </md-input-container>
        </div>
      </div>
      <div layout="row" class="tags" layout-align="space-around center">
        <div layout="column" layout-align="start center" class="tags">
          <label>Category</label>
          <md-input-container>
            <md-content ng-if="!vm.ifEditable()">{{vm.task.category.length ? vm.task.category.join(', ') : '-----'}}</md-content>
          <md-select ng-model="vm.task.category" style="min-width: 150px;" multiple aria-label="chooseCategory" ng-if="vm.ifEditable()">
            <md-option ng-repeat="category in vm.optionslist.category" ng-value="category">{{category}}</md-option>
          </md-select>
      </md-input-container>
        </div>
        <div layout="column" layout-align="start center" class="tags">
          <label>Project</label>
          <md-input-container>
            <md-content ng-if="!vm.ifEditable()">{{vm.task.projectname}}</md-content>
          <better-select type="'project'" task="vm.task" ng-if="vm.ifEditable()"></better-select>
          <div ng-messages="taskForm.Project.$error" ng-show="taskForm.Project.$touched" role="alert">
            <div ng-message="required">
              <span>This field is required</span>
            </div>
          </div>
          </md-input-container>
        </div>
        <div layout="column" layout-align="start center" class="tags">
          <label>User</label>
          <md-input-container>
          <!-- <md-select name="User" ng-model="vm.task.userid" md-on-open="vm.searchUsers()" style="min-width: 150px;" aria-label="searchUsers" ng-required="!vm.task.userid">
            <md-select-header>
              <input type="text" ng-keydown="vm.onSearchChange($event)" ng-change="vm.searchUsers()" ng-model="vm.userphrase" aria-label="User"/>
            </md-select-header>
            <md-option ng-repeat="username in vm.usernamelist" ng-value="username.id">{{username.name}}</md-option>
          </md-select> -->
          <md-content ng-if="!vm.checkRole.isAdmin()">{{vm.task.username}}</md-content>
          <better-select type="'user'" task="vm.task" ng-if="vm.checkRole.isAdmin()"></better-select>
          <div ng-messages="taskForm.User.$error" ng-show="taskForm.User.$touched" role="alert">
            <div ng-message="required">
              <span>This field is required</span>
            </div>
          </div>
      </md-input-container>
        </div>
      </div>


      <md-dialog-actions layout="row" layout-align="space-between center">
        <div layout="row" layout-align="start center">
          <md-button type="submit" ng-if="!vm.newTask" ng-click="vm.saveTask()" class="send-button md-accent md-raised" ng-disabled="taskForm.$invalid || taskForm.$pristine || vm.task.status==='' || vm.task.priority==='' || vm.task.project==='' || vm.task.user==='' || vm.task.estimatedHours<0 || vm.task.estimatedHours===NaN"
              aria-label="SAVE" translate="FEATURES.SAVE" translate-attr-aria-label="FEATURES.SAVE">
            SAVE
          </md-button>

          <md-button type="submit" ng-if="vm.newTask" ng-click="vm.addNewTask()" class="send-button md-accent md-raised" ng-disabled="taskForm.$invalid || taskForm.$pristine || vm.task.estimatedHours<0 || vm.task.estimatedHours===NaN"
              aria-label="Add Task" translate="FEATURES.ADD_TASK" translate-attr-aria-label="FEATURES.ADD_TASK">
            ADD TASK
          </md-button>

          <div layout="row" ng-if="vm.title==='Edit Feature'">
            <md-button class="md-icon-button" ng-click="vm.deleteTask($event)" aria-label="Delete" translate translate-attr-aria-label="FEATURES.DELETE">
              <md-icon md-font-icon="icon-delete"></md-icon>
              <md-tooltip><span translate="FEATURES.DELETE">DELETE</span></md-tooltip>
            </md-button>
          </div>
      </md-dialog-actions>
  </form>
</md-dialog>
