<md-dialog class="task-dialog" aria-label="New Task">
  <form name="taskForm" class="md-inline-form" novalidate>
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">{{vm.title}}</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()">
          <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>
      <div>
      </div>
      <div class="tags">
        <label>Subject</label>
        <md-input-container class="md-block">
          <md-content ng-if="!vm.ifEditable()">{{vm.task.subject}}</md-content>
          <input name="Subject" ng-model="vm.task.subject" aria-label="Subject" ng-if="vm.ifEditable()" required>
          <div ng-messages="taskForm.Subject.$error" ng-show="taskForm.Subject.$touched" role="alert">
            <div ng-message="required">
              <span>This field is required</span>
            </div>
          </div>
        </md-input-container>
      </div>
      <div class="tags">
        <label>Description</label>
        <md-input-container class="md-block">
          <md-content ng-if="!vm.ifEditable()">{{vm.task.description}}</md-content>
          <textarea name="Description" ng-model="vm.task.description" aria-label="Description" ng-if="vm.ifEditable()" required></textarea>
          <div ng-messages="taskForm.Description.$error" ng-show="taskForm.Description.$touched" role="alert">
            <div ng-message="required">
              <span>This field is required</span>
            </div>
          </div>
        </md-input-container>
      </div>
      <!--layout="row"-->
      <div layout-gt-sm="row" class="tags" layout-align="space-around start" layout-margin flex>
        <div class="tags" layout="column" layout-align="start center">
          <label>Status</label>
          <md-input-container>
            <md-content ng-if="!vm.ifEditable()">{{vm.task.status}}</md-content>
            <md-select name="Status" ng-model="vm.task.status" aria-label="Status" style="min-width: 150px;" ng-if="vm.ifEditable()" ng-required="!vm.task.status">
              <md-option ng-repeat="option in vm.optionslist.status" ng-value="option">{{option}}</md-option>
            </md-select>
            <div ng-messages="taskForm.Status.$error" ng-show="taskForm.Status.$touched" role="alert">
              <div ng-message="required">
                <span>This field is required</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div class="tags" layout="column" layout-align="start center">
          <label>Priority</label>
          <md-input-container>
            <md-content ng-if="!vm.ifEditable()">{{vm.task.priority}}</md-content>
            <md-select name="Priority" ng-model="vm.task.priority" aria-label="Priority" style="min-width: 150px;" ng-if="vm.ifEditable()" ng-required="!vm.task.priority">
              <md-option ng-repeat="option in vm.optionslist.priority" ng-value="option">{{option}}</md-option>
            </md-select>
            <div ng-messages="taskForm.Priority.$error" ng-show="taskForm.Priority.$touched" role="alert">
              <div ng-message="required">
                <span>This field is required</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div class="tags" layout="column" layout-align="start center">
          <label>Estimated hours</label>
          <md-input-container>
            <input type="number" ng-model="vm.task.estimatedHours" style="min-width: 100px;" aria-label="estimatedHours" name="estimatedHours" />
          </md-input-container>
          <div ng-messages="taskForm.estimatedHours.$error" ng-show="taskForm.estimatedHours.$touched" role="alert">
            <div ng-message="required">
              <span>This field is required</span>
            </div>
          </div>
        </div>
      </div>
      <div layout="row" class="tags" layout-align="space-around center">
        <div class="tags" layout="column" layout-align="start center">
          <label>Tracker</label>
          <md-input-container>
            <md-content ng-if="!vm.ifEditable()">{{vm.task.tracker}}</md-content>
            <md-select name="Tracker" ng-model="vm.task.tracker" aria-label="Tracker" style="min-width: 150px;" ng-if="vm.ifEditable()" ng-required="!vm.task.tracker">
              <md-option ng-repeat="option in vm.optionslist.tracker" ng-value="option">{{option}}</md-option>
            </md-select>
            <div ng-messages="taskForm.Tracker.$error" ng-show="taskForm.Tracker.$touched" role="alert">
              <div ng-message="required">
                <span>This field is required</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div class="tags" layout="column" layout-align="start center">
          <label>Feature</label>
          <md-input-container>
            <md-content ng-if="!vm.ifEditable()">{{vm.task.featurename}}</md-content>
            <better-select type="'feature'" task="vm.task" ng-if="vm.ifEditable()"></better-select>
            <div ng-messages="taskForm.Feature.$error" ng-show="taskForm.Feature.$touched" role="alert">
              <div ng-message="required">
                <span>This field is required</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div class="tags" layout="column" layout-align="start center">
          <label>User</label>
          <md-input-container>
            <md-content ng-if="!vm.checkRole.isAdmin()">{{vm.task.username}}</md-content>
            <better-select type="'user'" task="vm.task" ng-if="vm.checkRole.isAdmin()"></better-select>
            <div ng-messages="taskForm.User.$error" ng-show="taskForm.User.$touched" role="alert">
              <div ng-message="required">
                <span>This field is required</span>
              </div>
            </div>
          </md-input-container>
        </div>
      </div>
      <div class="tags" layout="row" layout-align="space-around center">
        <div class="tags" layout="column" layout-align="start center">
          <label>Category</label>
                <md-content ng-if="!vm.ifEditable()">{{vm.task.category.length ? vm.task.category.join(', ') : '-----'}}</md-content>
          <md-select ng-model="vm.task.category" style="min-width: 150px;" multiple aria-label="chooseCategory" ng-if="vm.ifEditable()">
            <md-option ng-repeat="category in vm.optionslist.category" ng-value="category">{{category}}</md-option>
          </md-select>
        </div>
        <div class="tags" layout="column" layout-align="start center">
          <label>Start Date</label>
                <md-content ng-if="!vm.ifEditable()">{{vm.task.startDate.getDate() + '/' + (vm.task.startDate.getMonth() + 1) + '/' + vm.task.startDate.getFullYear()}}</md-content>
          <md-datepicker ng-model="vm.task.startDate" md-placeholder="Enter date" ng-if="vm.ifEditable()"></md-datepicker>
        </div>
        <div class="tags" layout="column" layout-align="start center">
          <label>Due Date</label>
          <md-content ng-if="!vm.ifEditable()">{{vm.task.dueDate.getDate() + '/' + (vm.task.dueDate.getMonth() + 1) + '/' + vm.task.dueDate.getFullYear()}}</md-content>
          <md-datepicker ng-model="vm.task.dueDate" md-placeholder="Enter date" ng-if="vm.ifEditable()"></md-datepicker>
        </div>

      </div>

      <div class="tags">
        <label>Done Ratio</label>
        <md-slider-container>
          <md-slider flex min="0" max="100" ng-model="vm.task.doneRatio" aria-label="doneRatio" id="doneRatio-slider">
          </md-slider>
          <md-input-container>
            <input flex type="number" ng-model="vm.task.doneRatio" aria-label="doneRatio" aria-controls="doneRatio-slider" ng-blur="vm.checkRatio()">
          </md-input-container>
        </md-slider-container>
      </div>


      <md-dialog-actions layout="row" layout-align="space-between center">
        <div layout="row" layout-align="start center">
          <md-button type="submit" ng-if="!vm.newTask" ng-click="vm.saveTask()" class="send-button md-accent md-raised" ng-disabled="taskForm.$invalid || taskForm.$pristine || vm.task.status==='' || vm.task.priority==='' || vm.task.tracker==='' || vm.task.feature==='' || vm.task.user==='' || vm.task.estimatedHours<0 || vm.task.estimatedHours===NaN"
              aria-label="SAVE" translate="TA_SKS.SAVE" translate-attr-aria-label="TA_SKS.SAVE">
            SAVE
          </md-button>
          <md-button type="submit" ng-if="vm.newTask" ng-click="vm.addNewTask()" class="send-button md-accent md-raised" ng-disabled="taskForm.$invalid || taskForm.$pristine || vm.task.status==='' || vm.task.priority==='' || vm.task.tracker==='' || vm.task.featureid===undefined || vm.task.userid===undefined || vm.task.estimatedHours<0 || vm.task.estimatedHours===NaN"
              aria-label="Add Task" translate="TA_SKS.ADD_TASK" translate-attr-aria-label="TA_SKS.ADD_TASK">
            ADD TASK
          </md-button>
          <div layout="row" ng-if="vm.title==='Edit Task'">
            <md-button class="md-icon-button" ng-click="vm.deleteTask($event)" aria-label="Delete" translate translate-attr-aria-label="TA_SKS.DELETE">
              <md-icon md-font-icon="icon-delete"></md-icon>
              <md-tooltip><span translate="TA_SKS.DELETE">DELETE</span></md-tooltip>
            </md-button>
          </div>
      </md-dialog-actions>
  </form>
</md-dialog>
