<h1>
    {{vm.helloText}}<p></p>  <!--   <md-button class="md-raised" ng-click="Test()">Raised Button</md-button>
    <button ng-click="Test()">test</button><p></p>
    <script >
    if(angular.module('app.sample'))
    {
        console.log("JEST MODUL");
    }
    else
    {
        console.log("NIE MA");
    }
    </script>
        -->
     <md-tabs md-dynamic-height><md-tab label="GET">   
    <md-input-container><label>ID</label><input type="number" ng-model="movie.id"></md-input-container><br>


        <md-button class="md-raised" ng-click="myNewGet(movie.id)"> GET </md-button>

        </md-tab>
        <md-tab label="POST">
            
            <md-input-container><label>NAME</label><input type="text" ng-model="project.name"></md-input-container><br>
            <md-input-container><label>IDENTIFIER</label><input type="text" ng-model="project.identifier"></md-input-container><br>
            <md-input-container><label>DESCRIPTION</label><input type="text" ng-model="project.description"></md-input-container><br>
            <md-button class="md-raised" ng-click="myNewPost(project.name, project.identifier, project.description)"> POST </md-button>

        </md-tab>
        <md-tab label="DELETE">
            <md-input-container><label>ID</label><input type="number" ng-model="movie.id"></md-input-container><br>
            <md-button class="md-raised" ng-click="myDelete(movie.id)"> DELETE </md-button></md-tab>
            <md-tab label="PUT">
            <md-input-container><label>ID</label><input type="number" ng-model="movie.id"></md-input-container><br>
             <md-input-container><label>TITLE</label><input type="text" ng-model="movie.title"></md-input-container><br>
            <md-input-container><label>YEAR</label><input type="text" ng-model="movie.year"></md-input-container><br>
            <md-button class="md-raised" ng-click="myUpdate(movie.id, movie.title, movie.year)">PUT</md-button></md-tab>
        </md-tabs>

        <md-button class="md-raised" ng-click="myGetList()">GETLIST</md-button>
        <md-button class="md-raised" ng-click="myNewGet(2)">NEW GET</md-button> 

 <!--  <pre> {{vm.mydata | json }} </pre> -->
     <pre>{{ vm.mydata }}</pre>

</h1>

