<div id="additionals" class="page-layout carded left-sidenav" layout="row">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- LEFT SIDENAV -->
  <md-sidenav class="sidenav" md-is-locked-open="$mdMedia('gt-md')" md-component-id="main-sidenav" ng-include="'app/main/apps/additionals/sidenavs/main/main-sidenav.html'" ms-scroll ms-sidenav-helper>
  </md-sidenav>
  <!-- / LEFT SIDENAV -->

  <!-- CENTER -->

  <div class="center" layout="column" flex>
      <div style="min-height: 150px;">

      </div>
    <!-- CONTENT HEADER -->
  <!-- <div class="header" layout="row" layout-align="start center">
      <div class="search-wrapper md-whiteframe-4dp" flex layout="row" layout-align="start center">


   <div class="search" flex layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>
          <input flex ng-model="vm.taskFilters.search" type="text" placeholder="Search for a task or tag" translate translate-attr-placeholder="ADDITIONALS.SEARCH" >

        </div>
      </div>
  </div>-->
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card" layout="column" flex>

      <!-- CONTENT TOOLBAR -->
<!--      <div class="toolbar" layout="row" layout-align="center center">

</div>-->
      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->
      <div class="content" layout="row" flex>

        <!-- Additionals list pane -->
        <md-content class="additionals-list-pane" flex ng-include="'app/main/apps/additionals/views/list/list-view.html'" ms-scroll="vm.msScrollOptions">
        </md-content>
        <!-- / Additionals list pane -->

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARDb-->

  </div>
  <!-- / CENTER -->

</div>
