<!-- FEATURES LIST ITEMS -->
<div class="features-items" ng-sortable="vm.sortableOptions" ng-model="vm.tasks" ng-class="{'sortable': vm.taskOrder === ''}">
  <div class="features-item" md-ink-ripple layout="row" layout-align="start center" ng-click="vm.openFeatureDialog($event, myfeature)" ng-repeat="myfeature in vm.myfeatures " ng-class="{'starred': task.starred, 'selected': task.selected, 'completed': task.completed}"  style={{vm.getStyle(myfeature.userid)}}>
    <!--| orderBy:vm.taskOrder:vm.taskOrderDescending | filter:global.search | filter:vm.taskFilters.search-->
    <div class="handle" ng-click="vm.preventDefault($event)">
      <md-icon md-font-icon="icon-drag-vertical" class="icon"></md-icon>
    </div>

    <!--  <md-checkbox class="no-label" ng-checked="task.completed"
                     ng-click="vm.toggleCompleted(task, $event)"
                     aria-label="{{task.completed ? 'Not completed' : 'Completed'}}">
        </md-checkbox>-->

    <div layout="row" layout-align="start center" flex>

      <div class="info" flex>
        <div class="title">
          {{myfeature.subject}}
        </div>

        <div class="notes">
          Project: {{myfeature.projectname}}
        </div>

        <div class="notes">
           Description: {{(myfeature.description.length>150) ? (myfeature.description.substring(0, 147) + '...') : myfeature.description}}
        </div>

        <div class="notes" layout="row"  layout-align="space-between center">
          <span>Status: {{myfeature.status}}</span>
          <span>Priority: {{myfeature.priority}}</span>
          <span>User: {{myfeature.username}}</span>
          <span>Estimated Hours: {{myfeature.estimatedHours}}</span>
        </div>

        <div class="notes">
          <!--Categories: {{myfeature.category}}-->
          Categories: {{vm.showCategories(myfeature.category)}}
        </div>





        <div class="tags" layout="row" layout-align="start center" layout-wrap>
          <div class="tag" layout="row" layout-align="start center" data-ng-repeat="tag in task.tags">
            <div class="tag-color" ng-style="{'background-color': tag.color}"></div>
            <div class="tag-label">{{tag.label}}</div>
          </div>
        </div>
      </div>

      <div class="buttons" layout="row" layout-align="start center">

      </div>
    </div>
  </div>
</div>
<!-- / FEATURES LIST ITEMS -->
