<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="space-between">

  <div class="logo" layout="row" layout-align="start center">
    <span class="logo-icon">
            <md-icon md-font-icon="icon-clipboard" class="s24"></md-icon>
        </span>
    <span class="logo-text" translate="FEATURES.TO_DO">Features</span>
  </div>
</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content class="content" flex ms-scroll>
  <div class="add-task-button">
    <md-button class="md-accent md-raised" ng-click="vm.openFeatureDialog($event)" aria-label="ADD TASK" translate="FEATURES.ADD_TASK" translate-attr-aria-label="FEATURES.ADD_TASK">
      ADD FEATURE
    </md-button>
  </div>
  <div flex-offset="10" layout="column" layout-align="space-between start">
    <div ng-repeat="additional in vm.optionslist">
      <div layout="column" layout-align="center">
        <div layout="row" layout-align="space-between default">
          <p class="md-subhead">{{additional.label}}</p>
          <md-button style="min-height: 23px !important; min-width: 46px !important; font-size: 12px !important; line-height: 0px;" ng-click="vm.fillOptions(additional.name, additional.tab); vm.search()">all</md-button>
          <md-button style="min-height: 23px !important; min-width: 46px !important; font-size: 12px !important; line-height: 0px;" ng-click="vm.optionschosen[additional.name]=[]; vm.search()">none</md-button>
        </div>
        <div ng-repeat="option in additional.tab">
          <md-checkbox ng-checked="vm.optionschosen[additional.name].indexOf(option)!==-1" ng-click="vm.optionAction(option, additional.name); vm.search()">{{option}}</md-checkbox>
        </div>
      </div>
</md-content>
<!-- / SIDENAV CONTENT -->
