<div id="projects" class="page-layout carded left-sidenav" layout="row">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- LEFT SIDENAV -->
  <md-sidenav class="sidenav" md-is-locked-open="$mdMedia('gt-md')" md-component-id="main-sidenav" ng-include="'app/main/apps/projects/sidenavs/main/main-sidenav.html'" ms-scroll ms-sidenav-helper>
  </md-sidenav>
  <!-- / LEFT SIDENAV -->

  <!-- CENTER -->
  <div class="center" layout="column" flex>

    <!-- CONTENT HEADER -->
    <div class="header" layout="row" layout-align="start center">
      <div class="search-wrapper md-whiteframe-4dp" flex layout="row" layout-align="start center">
        <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('main-sidenav')" hide-gt-md aria-label="Toggle sidenav" translate translate-attr-aria-label="PROJECTS.TOGGLE_SIDENAV">
          <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
        </md-button>

        <div class="search" flex layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>
          <input flex name="SUPER NAZWA" ng-model="vm.taskFilters.search" type="text" placeholder="Search for a task or tag" translate translate-attr-placeholder="PROJECTS.SEARCH" ng-change="vm.search()" check-regex>
          <!--vm.taskFilters.search-->
        </div>
      </div>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card" layout="column" flex>

      <!-- CONTENT TOOLBAR -->
      <div class="toolbar" layout="row" layout-align="center center">
        <div layout="row" layout-align="space-between center">
          <div>
            <md-button class="md-icon-button arrow" aria-label="Previous" ng-click="vm.prevPage()">
              <md-icon ng-if="vm.page.current!==0" md-font-icon="icon-arrow-left-bold"></md-icon>
              <md-icon ng-if="vm.page.current===0" md-font-icon="icon-arrow-left"></md-icon>
            </md-button>
          </div>
          <div>
            <h2>{{vm.page.current+1}}/{{vm.page.total}}</h2>
          </div>
          <div>
            <md-button class="md-icon-button next" ng-click="vm.nextPage()" aria-label="Next">
              <md-icon ng-if="vm.page.current+1!==vm.page.total" md-font-icon="icon-arrow-right-bold"></md-icon>
              <md-icon ng-if="vm.page.current+1===vm.page.total" md-font-icon="icon-arrow-right"></md-icon>
            </md-button>
          </div>
        </div>
      </div>
      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->
      <div class="content" layout="row" flex>

        <!-- Projects list pane -->
        <md-content class="projects-list-pane" flex ng-include="'app/main/apps/projects/views/list/list-view.html'" ms-scroll="vm.msScrollOptions">
        </md-content>
        <!-- / Projects list pane -->

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARDb-->

  </div>
  <!-- / CENTER -->

</div>
